:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);

    font-family: 'Libre Franklin', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    display: flex;
    max-width: 600px;
    margin-bottom: 50px;
}

main .coming-soon {
    color: hsl(0, 0%, 59%);
    font-size: 30px;
    margin-bottom: 25px;
}

main .coming-soon b {
    color: var(--very-dark-blue)
}

main .subscribe {
    margin-bottom: 30px;
    color: var(--very-dark-blue);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 600px;
}

input,
button {
    border-style: solid;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

input {
    width: 400px;
    text-indent: 20px;
    color: var(--gray);
}

button {
    border-color: var(--blue);
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px 0;
    color: var(--blue);
}

.social-container a {
    color: var(--blue);
}

footer {
    font-size: 10px;
    font-weight: 300;
    color: var(--gray);
}

@media screen and (max-width: 640px) {
    main {
        max-width: 400px;
    }

    header {
        margin-bottom: 10px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 400px;
        border-radius: 10px;
    }

    input {
        text-indent: 30px;
        width: 90%;
        margin: 10px;
        border-radius: 25px;
        border-style: solid;
    }

    button {
        margin-top: 10px;
        width: 90%;
        cursor: pointer;
        border-radius: 25px;
    }

    main img {
        max-width: 375px;
    }

    .form-container {
        margin-bottom: 30px;
    }
}